:root {
  --bg-color: rgb(223, 223, 223);
  --label-color: rgb(72, 108, 167);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* border: 1px solid plum; */
}

body {
  font-family: "Courier New", Courier, monospace;
}

.form__container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin: 1rem 1rem;
  max-width: 650px;
}

.form__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 1rem;
}

nav, footer {
  display: flex;
  /* text-align: center; */
  /* justify-content: space-between; */
  justify-content: center;
  gap: 35%;
  align-items: center;
  /* max-width: 700px; */
  padding: 1rem 0;
  background-color: rgb(126, 190, 30);
  color: white;
  font-weight: bold;
  letter-spacing: 2px;
}

.question__container {
  display: flex;
  flex-direction: column;
  /* background-color: rgb(114, 133, 163); */
  background-color: var(--label-color);
  border-radius: 5px;
}

img {
}

.question {
  padding: 1rem;
  color: white;
}

input {
  border: 2px solid gainsboro;
  padding: 0.5rem 0.2rem;
  outline: none;
}

select {
  padding: 0.5rem 0.2rem;
}

.question__image {
  width: 180px;
  border-radius: 10px;
  margin: 0 15px 15px 15px;
}

.btn {
  padding: 0.5rem 0.8rem;
  border-radius: 5px;
  border: none;
  transition: 0.3s;
}

.btn:hover {
  /* transform: scale(1.02); */
  /* opacity: 0.8; */
  background-color: rgb(231, 231, 231);
}

select {
  outline: none;
}

textarea {
  padding: 0.5rem 0.8rem;
  outline: none;
  border: none;
  background-color: var(--bg-color);
  height: 70px;
  resize: none;
}

.file {
  color: white;
}

.company__logo {
  width: 60px;
  border-radius: 3px;
}

.waiver__logo {
  margin: 0;
  padding: 0;
}

.sigCanvas {
  border: 2px solid gainsboro;
  border-radius: 5px;
  margin-top: 10px;
}

.signature__container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
}

.clear {
  /* height: 300px; */
  /* width: 50px; */
}

.footer {
  margin-top: 10px;
  /* height: 50px; */
}

.participant__info {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}