* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: 1px solid plum;
}

nav {
  height: 50px;
  color: white;
  font-weight: 500;
  font-size: 20px;
  text-align: center;
  padding-top: 10px;
  background-color: #aeaeae;
}

.container {
  display: flex;
  height: calc(100vh - 60px - 40px);
}

.sidebar {
  width: 100px;
  background-color: #aeaeae;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1;
  background-color: #cecece;
}

img {
  /* width: 100px; */
}

.box {
  display: flex;
  text-wrap: wrap;
  flex-direction: column;
  justify-content: space-between;
  height: 200px;
  padding: 10px;
  border-radius: 10px;
  background-color: rgb(184, 184, 184);
}

ul {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-align: center;
  height: 100%;
}

textarea {
  border-radius: 10px;
  padding: 10px;
  font-size: 15px;
}

li {
  padding: 10px;
  color: white;
}

footer {
  text-align: center;
  padding: 12px;
  background-color: #aeaeae;

  color: white;
}
