* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* border: 1px solid plum; */
}

nav {
  height: 50px;
  color: white;
  background-color: dodgerblue;
  font-weight: 500;
  font-size: 20px;
  text-align: center;
  padding-top: 10px;
}

.container {
  display: flex;
  height: calc(100vh - 60px - 40px);
}

.sidebar {
  background-color: cornflowerblue;

  width: 100px;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: lightslategray;

  flex: 1;
}

img {
  /* width: 100px; */
}

.box {
  display: flex;
  text-wrap: wrap;
  flex-direction: column;
  justify-content: space-between;
  height: 200px;
  background-color: lightslategray;
  padding: 10px;
  border-radius: 10px;
}

ul {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-align: center;
  height: 100%;
}

textarea {
  border-radius: 10px;
  padding: 10px;
  font-size: 15px;
}

li {
  padding: 10px;
  color: white;
}

footer {
  text-align: center;
  padding: 12px;
  background-color: dodgerblue;
  color: white;
}
